<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/link-1.png">
    <title>Nasa Apod</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
        integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/header.css">
</head>

<body>
    <!-- <div class="loading-container center">
        <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>
    </div> -->
    <div class="container">
        <!-- Sidebar -->
        <section class="sidebar center">
            <button class="btn nav-btn-close center">
                <div class="line line-1"></div>
                <div class="line line-2"></div>
                <div class="line line-3"></div>
            </button>
            <div class="section-links center">
                <a href="/header" class="home" data-content="HOME">Home</a>
                <a href="/apod" class="apod" data-content="APOD">Apod</a>
                <a href="https://www.nasa.gov" class="nasa-website" data-content="NASA" target="_blank">Nasa</a>
            </div>
            <div class="social-media-links center">
                <a href="#link">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="#link">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="#link">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </div>
        </section>
        <!-- End of Sidebar -->

        <!-- Navbar -->
        <nav class="navbar center animate__animated animate__fadeInDown">
            <a href="#link" class="logo-main">
                <img src="/images/logo-1.png" alt="logo">
            </a>
            <button class="btn nav-btn-open center">
                <div class="line line-1"></div>
                <div class="line line-2"></div>
                <div class="line line-3"></div>
            </button>
        </nav>
        <!-- End of Navbar -->

        <!-- Header -->
        <header class="header" id="home">
            <!-- Shooting Stars Animation -->
            <!-- End of Shooting Stars Animation -->

            <div class="banner center">
                <h1 class="banner-heading animate__animated animate__fadeInDown animate__delay-1s">NASA</h1>
                <p class="banner-text animate__animated animate__fadeInUp animate__delay-1s">Astronomical Picture of the
                    Day</p>
                <a href="/apod"
                    class="btn btn-to-apod center animate__animated animate__backInUp animate__delay-2s animate__fast">Take
                    me There!</a>
            </div>

            <div class="social-media-section center animate__animated animate__fadeInRight animate__delay-2s">
                <a href="#link">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="#link">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="#link">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </div>

            <a href="https://www.nasa.gov"
                class="nasa-icon animate__animated animate__fadeInBottomRight animate__delay-2s" target="_blank">
                <img src="/images/nasa-logo.png" alt="Nasa">
            </a>
        </header>
        <!-- End of Header -->
    </div>

    <script src="/js/header.js"></script>
</body>

</html>