<% if(success && success.length) { %>
    <div class="columns is-mobile">
        <div class="column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-half is-offset-one-quarter">
            <div class="notification is-success is-light">
                <button class="delete"></button>
                <%= success %>
            </div>
        </div>
    </div>
<% } %>

<% if(error && error.length) { %>
    <div class="columns is-mobile">
        <div class="column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-half is-offset-one-quarter">
            <div class="notification is-danger is-light">
                <button class="delete"></button>
                    <%= error %>
            </div>
        </div>
    </div>
<% } %>