<footer>
        <p id="credits">Made With <a href="https://www.bulma.io/">Bulma</a>  <i class="fa fa-heart" aria-hidden="true"></i></p>
        <p id="idk" class="hide">Designed By <a href="#">RiTiK 😎</a></p>
</footer>