<header>
        <h1 class="title has-text-white">Astronomical Picture<br>Of The Day</h1>
        <strong class="subtitle has-text-white">- by <a href="https://www.nasa.gov/">NASA</a></strong>
</header>