<nav class="navbar" role="navigation" aria-label="main navigation">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </a>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start"></div>

        <div class="navbar-end">
            <div class="navbar-item">
                <form action="/" class="is-flex" method="POST">
                    <input type="date" class="input" id="inp" name="date" id="date" title="Search by date" placeholder="Search by date" name="date">
                    <button class="button is-info" id="btn-search" style="margin: 0 .5rem;">Go</button>
                </form>
            </div>
        </div>
    </div>
</nav>