@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Play&family=Poppins:wght@600&family=Raleway:wght@300;700&display=swap");

/* Commons & Resets */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-10 {
  margin-bottom: 10rem;
}
/* End of Commons & Resets */

/* Temps */
.bord {
  border: 0.1rem solid red;
}
/* End of Temps */

.loading-container {
  width: 100vw;
  height: 100vh;
  background-color: #2f303a;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.sk-cube-grid {
  width: 8rem;
  height: 8rem;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #ddd;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

.container {
  width: 100vw;
  position: relative;
  /* padding-right: 1.7rem; */
}

/* Sidebar */
.sidebar {
  width: 45rem;
  height: 100%;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -50rem;
  background-color: #fff;
  box-shadow: -0.3rem 0 3rem #000;
  transition: right 0.5s;
  z-index: 10;
}

.change .sidebar {
  right: 0;
}

.nav-btn-close {
  position: absolute;
  top: 4rem;
  left: 20rem;
  transition: left 0.6s ease-in-out;
}

.change .nav-btn-close {
  left: 7rem;
}

.nav-btn-close .line {
  background-color: #333;
}

.nav-btn-close .line-1 {
  transform: rotate(45deg) translate(0.9rem, 1rem);
}

.nav-btn-close .line-2 {
  opacity: 0;
  visibility: hidden;
}

.nav-btn-close .line-3 {
  transform: rotate(-45deg) translate(0.9rem, -1rem);
}

.section-links {
  flex-direction: column;
}

.section-links a {
  font-family: "Play", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  margin: 2rem 0;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #666;
  position: relative;
}

.section-links a::before {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  color: #c29525;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.3s ease-in-out;
}

.section-links a:hover::before {
  width: 100%;
}

.social-media-links {
  position: absolute;
  bottom: 4rem;
}

.social-media-links a {
  font-size: 3rem;
  color: #666;
  margin: 0 3rem;
}

/* End of Sidebar */

/* Navbar */
.navbar {
  position: absolute;
  width: 100%;
  height: 12rem;
  justify-content: space-between;
  padding: 8rem 10rem;
  z-index: 9;
  transition: all 0.2s ease-in-out;
}

.logo-main {
  width: 15rem;
}

.logo-main img {
  width: 100%;
}

.nav-btn-open,
.nav-btn-close {
  width: 5rem;
  height: 5rem;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

/* .change .nav-btn {
  transform: translateX(-20rem);
} */

.nav-btn-open .line,
.nav-btn-close .line {
  width: 100%;
  height: 0.4rem;
  border-radius: 1rem;
  transition: background-color 0.1s, transform 0.1s;
}

.nav-btn-open .line {
  background-color: #dddddd;
}

.nav-btn-open .line-2 {
  width: 50%;
}

/* .change .line {
  background-color: #333;
}

.change .line-1 {
  transform: rotate(45deg) translate(0.9rem, 1rem);
}

.change .line-2 {
  opacity: 0;
  visibility: hidden;
}

.change .line-3 {
  transform: rotate(-45deg) translate(0.9rem, -1rem);
} */
/* End of Navbar */

/* Header */
.header {
  width: 100%;
  height: 100vh;
  background: url("/images/cover-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.banner {
  width: 95rem;
  height: 50rem;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 8;
}

.banner-heading {
  font-family: "Play", sans-serif;
  font-size: 12.8rem;
  font-weight: 400;
  text-indent: 12rem;
  letter-spacing: 12rem;
  text-shadow: 0.4rem 0.8rem 0.4rem rgba(0, 0, 0, 25%);
  color: #dddddd;
  margin-top: 3rem;
}

.banner-text {
  font-family: "Play", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  text-indent: 2.5rem;
  font-style: italic;
  letter-spacing: 2.5rem;
  text-shadow: 0.2rem 0.4rem 0.4rem rgba(0, 0, 0, 25%);
  color: #aaaaaa;
}

.btn-to-apod {
  width: 34.5rem;
  height: 7.5rem;
  font-family: "Orbitron", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  background-color: #dddddd;
  letter-spacing: 0.8rem;
  border-radius: 4rem;
  color: #1b1b1b;
  box-shadow: 0 0.4rem rgba(0, 0, 0, 25%);
  transition: background 0.15s;
  margin-top: 2rem;
}

.btn-to-apod:hover {
  background: transparent;
  border: 0.15rem solid #dddddd;
  color: #aaaaaa;
}

.social-media-section {
  width: 5rem;
  height: 25rem;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 54%;
  right: 5rem;
  transform: translateY(-50%);
}

.social-media-section i {
  font-size: 3rem;
  color: #aaaaaa;
  transition: color 0.15s;
}

.social-media-section a:hover i {
  color: #dddddd;
}

.nasa-icon {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.nasa-icon img {
  width: 9rem;
  filter: grayscale(100%);
  transition: filter 0.15s;
}

.nasa-icon:hover img {
  filter: grayscale(0);
}
/* End of Header */
