@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Noto+Sans+JP:wght@400;900&family=Poppins:wght@500&family=Raleway:ital,wght@0,400;1,600&display=swap");

/* Commons and Resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  overflow: hidden;
}

button,
input,
textarea,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End of Commons and Resets */

/* Temps */
.bord {
  border: 0.2rem solid red;
}
/* End of Temps */

/* Animations */
@keyframes fade {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 0.6;
    visibility: visible;
  }
}

@keyframes floatIn {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(12rem);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes floatInText {
  0% {
    opacity: 0;
    visibility: hidden;
    bottom: 10%;
  }

  100% {
    opacity: 0.3;
    visibility: visible;
    bottom: 16%;
  }
}

@keyframes floatLeft {
  0% {
    opacity: 0;
    visibility: hidden;
    right: -4%;
  }

  100% {
    opacity: 1;
    visibility: visible;
    right: 2.5%;
  }
}

@keyframes floatInLink {
  0% {
    opacity: 0;
    visibility: hidden;
    bottom: -10rem;
  }

  100% {
    opacity: 1;
    visibility: visible;
    bottom: 1.5rem;
  }
}

@keyframes motionVer {
  0% {
    transform: translate(50%, 50%);
  }
  50% {
    transform: translate(50%, 80%);
  }
  100% {
    transform: translate(50%, 50%);
  }
}

@keyframes loadingC {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}
/* End of Animations */

.container {
  width: 100%;
  min-height: 100vh;
  transition: transform 0.8s;
}

/* Nav */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 14rem;
  background: transparent;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transform: translateY(12rem);
  animation: floatIn 1.5s 0.7s forwards;
}

.nav-wrapper {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
}

.logo {
  width: 20rem;
  object-fit: cover;
}

.nav-btn {
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: none;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-right: 0.8rem;
  transition: transform 0.7s;
}

.change .nav-btn {
  transform: translateX(-16rem);
}

.line {
  width: 100%;
  height: 0.2rem;
  background-color: #fff;
  border-radius: 1rem;
  transition: all 0.06s;
}

.change .line {
  background-color: rgba(0, 0, 0, 0.8);
}

.line-2 {
  width: 60%;
  align-self: flex-start;
  transition: transform 0.1s ease-in-out;
}

.change .line-1 {
  transform: rotate(45deg) translate(0.4rem, 1rem);
}

.change .line-2 {
  transform: translateX(-100%);
}

.change .line-3 {
  transform: rotate(-45deg) translate(0.4rem, -1rem);
}
/* End of Nav */

/* Header */
.header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 5;
}

.header .img-wrapper {
  width: 100%;
  height: 100%;
  background-color: #000;
}

.header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  visibility: hidden;
  animation: fade 1s forwards;
}

.heading-1,
.heading-2,
header .text {
  position: absolute;
  z-index: 8;
  pointer-events: none;
  user-select: none;
}

.heading-1 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 10rem;
  color: #f3f4f6;
  text-transform: uppercase;
  text-shadow: 0.4rem 0.3rem 0.5rem #000;
  letter-spacing: 25rem;
  text-indent: 25rem;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-2 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
  font-size: 14rem;
  text-transform: uppercase;
  letter-spacing: 12rem;
  text-indent: 12rem;
  bottom: 35%;
  right: 50%;
  transform: translate(50%, 50%);
  background: url("/images/text-bg1.jpg") 50% 50%;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.heading-1,
.heading-2 {
  opacity: 0;
  visibility: hidden;
  animation: fade 1s 1.8s forwards;
}

header .text {
  width: 60rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  font-style: italic;
  color: #fbfefb;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1rem;
  line-height: 1.5;
  right: 50%;
  opacity: 0;
  transform: translate(50%, 50%);
  animation: floatInText 1s 2.5s forwards;
}

.social-media-wrapper {
  position: absolute;
  top: 50%;
  right: -4%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  z-index: 8;
  animation: floatLeft 1s 3.5s forwards;
}

.social-media-wrapper .link {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.3rem solid #728359;
  border-radius: 50%;
  margin: 2rem 0;
  transition: border 0.2s;
}

.social-media-wrapper .link:hover {
  border: 0.3rem solid #a6b98b;
}

.social-media-wrapper i {
  font-size: 2rem;
  color: #728359;
  transition: color 0.2s;
}

.social-media-wrapper .link:hover i {
  color: #a6b98b;
}

.nasa-link {
  width: 7rem;
  position: absolute;
  bottom: -10rem;
  right: 1rem;
  z-index: 8;
  animation: floatInLink 1s 3.5s forwards;
}

.nasa-link img {
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.1s;
}

.nasa-link:hover img {
  filter: grayscale(0);
}

.go-btn {
  position: absolute;
  bottom: -3rem;
  width: 7rem;
  height: 10rem;
  background-color: #001219;
  border: 0;
  box-shadow: -0.1rem -0.1rem 0.3rem #ddd, 0.1rem 0.1rem 0.3rem #ddd;
  border-radius: 5rem;
  cursor: pointer;
  transition: background-color 0.2s;
  opacity: 0;
  visibility: hidden;
  animation: fade 1s 3.5s forwards;
}

.go-btn:hover {
  background-color: #277da1;
}

.go-btn i {
  color: #fff;
  font-size: 3rem;
  position: absolute;
  top: 0;
  right: 50%;
  transition: color 0.2s;
  transform: translate(50%, 50%);
  animation: motionVer 1.5s infinite;
}

.go-btn:hover i {
  color: #fff;
  animation: none;
}
/* End of Header */

/* Sidebar */
.sidebar {
  width: 40rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -40rem;
  background-color: #fff;
  transition: right 0.5s;
  z-index: 9;
}

.change .sidebar {
  right: 0;
}

.menu {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-item {
  text-align: center;
}

.menu-link {
  font-family: "Baloo Da 2", serif;
  font-size: 4rem;
  color: #555;
  position: relative;
  text-transform: uppercase;
}

.menu-link::before {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  color: #c29525;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.3s ease-in-out;
}

.menu-link:hover::before {
  width: 100%;
}

.social-media {
  position: absolute;
  bottom: 20rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.social-media i {
  font-size: 2.2rem;
  margin: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #777;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.social-media i:hover {
  background-color: #c29525;
}

.copyright {
  width: 70%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.copyright p {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 1.5rem;
  color: #333;
  padding: 0.6rem 0;
  letter-spacing: 0.2rem;
}

.copyright a {
  font-style: italic;
  color: #000;
  font-weight: bold;
}
/* End of Sidebar */

/* APOD Section */
.apod-section {
  width: 100%;
  height: 100vh;
  background-color: #001219;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.section-wrapper {
  width: calc(100% - 15%);
  height: calc(100% - 14rem);
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
}

.section-wrapper > div {
  position: absolute;
  top: 0;
  left: 0;
}

.apod-section .loading {
  width: 100%;
  height: 100%;
  background-color: #001219;
  z-index: 8;
}

.display .loading {
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
}

.apod-section .load-wrapp {
  float: left;
  width: 10rem;
  height: 10rem;
  margin: 0 1rem 1rem 0;
  padding: 2rem 2rem 2rem;
  border-radius: 0.5rem;
  text-align: center;
  background-color: #d8d8d8;
}

.apod-section .load-wrapp p {
  padding: 0 0 2rem;
}

.apod-section .load-wrapp:last-child {
  margin-right: 0;
}

.apod-section .load-3 .line:nth-last-child(1) {
  animation: loadingC 0.6s 0.1s linear infinite;
}

.apod-section .load-3 .line:nth-last-child(2) {
  animation: loadingC 0.6s 0.2s linear infinite;
}

.apod-section .load-3 .line:nth-last-child(3) {
  animation: loadingC 0.6s 0.3s linear infinite;
}

.apod-section .line {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  background-color: #4b9cdb;
}

.apod-section .main {
  width: 100%;
  height: 100%;
  z-index: 7;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
}

.date {
  display: flex;
  justify-content: center;
}

.date input {
  width: 22rem;
  height: 4rem;
  font-size: 2.5rem;
  padding: 0.5rem;
  color: #777;
  background-color: #ddd;
  border: none;
  border-radius: 0.7rem 0 0 0.7rem;
}

.date button {
  width: 5rem;
  height: 4rem;
  font-size: 2rem;
  color: #ddd;
  background-color: #2a9d8f;
  text-shadow: 0.1rem 0.15rem 0.2rem #000;
  border: none;
  border-radius: 0 0.7rem 0.7rem 0;
  cursor: pointer;
}

.apod-section .result {
  width: max-content;
  margin: 0 auto;
  background-color: #212f45;
  border-radius: 5rem;
  box-shadow: 0.3rem 0.4rem 1rem #000;
  display: none;
}

.show-result .result {
  display: flex;
}

.apod-section .result p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  padding: 1.3rem 2rem;
  letter-spacing: 0.2rem;
  text-shadow: 0.1rem 0.1rem 0.1rem #555;
}

.apod-section .result.err .success {
  display: none;
}

.apod-section .result .success {
  color: #70e000;
}

.apod-section .result .error {
  color: #fcbf49;
  display: none;
}

.apod-section .result.err .error {
  display: block;
}

.apod-section .result span {
  font-weight: 600;
}

.result .close-btn {
  cursor: pointer;
}

.result i {
  font-size: 2.3rem;
  margin-right: 1.5rem;
  transform: translateY(6%);
  color: #ddd;
}

.apod-section .wrapper {
  width: 100%;
  overflow-y: scroll;
}

.apod-section .img-wrapper {
  max-width: 100rem;
  margin-right: 4rem;
}

.apod-section .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0.8rem solid #212529;
  border-radius: 1rem;
  box-shadow: 0.4rem 0.3rem 1rem #000;
}

.apod-section .content-wrapper {
  max-width: 105rem;
}

.content-title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 5rem;
  letter-spacing: 0.3rem;
  color: #e9ecef;
  text-align: center;
  margin-bottom: 2rem;
  text-shadow: 0.8rem 0.8rem 2rem #000;
}

.content-text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2.1rem;
  color: #adb5bd;
  letter-spacing: 0.2rem;
  text-align: justify;
  line-height: 1.4;
  margin: 0 2rem;
}

.to-top {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  z-index: 8;
  width: 6rem;
  height: 6rem;
  background-color: #f4a261;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
}

.to-top i {
  font-size: 3rem;
  color: #eee;
}
/* End of APOD Section */

/* Responsives */
@media (max-width: 1650px) {
  html {
    font-size: 55.5%;
  }

  .nav {
    height: 12rem;
  }

  .logo {
    width: 16rem;
  }

  .heading-1 {
    font-size: 8rem;
  }

  .heading-2 {
    font-size: 12rem;
  }

  header .text {
    width: 50rem;
    font-size: 2.5rem;
  }

  .social-media-wrapper .link {
    width: 3.5rem;
    height: 3.5rem;
    border: 0.2rem solid #728359;
  }

  .social-media-wrapper .link:hover {
    border: 0.2rem solid #a6b98b;
  }

  .social-media-wrapper i {
    font-size: 1.7rem;
  }

  .nasa-link {
    width: 6rem;
  }

  .go-btn {
    width: 6rem;
    height: 9rem;
  }

  .go-btn i {
    font-size: 2.5rem;
  }

  .menu-link {
    font-size: 3.5rem;
  }

  .social-media i {
    font-size: 2rem;
  }

  .section-wrapper {
    height: calc(100% - 12rem);
  }

  .date input {
    width: 20rem;
    height: 3rem;
    font-size: 2rem;
  }

  .date button {
    font-size: 1.5rem;
    width: 4rem;
    height: 3rem;
  }

  .apod-section .result p {
    font-size: 1.5rem;
    padding: 1rem;
  }

  .result i {
    font-size: 1.7rem;
    margin-right: 1.25rem;
  }

  .apod-section .img-wrapper {
    max-width: 90rem;
  }

  .apod-section .content-wrapper {
    max-width: 100rem;
  }

  .content-title {
    font-size: 4rem;
  }

  .content-text {
    font-size: 1.7rem;
  }

  .to-top {
    width: 5rem;
    height: 5rem;
  }

  .to-top i {
    font-size: 2.5rem;
  }
}

@media (max-width: 1400px) {
  .heading-1 {
    font-size: 6rem;
  }

  .heading-2 {
    font-size: 10rem;
  }

  header .text {
    font-size: 2.25rem;
  }
}

@media (max-width: 1300px) {
  .heading-1 {
    font-size: 5rem;
    letter-spacing: 20rem;
    text-indent: 20rem;
  }

  .heading-2 {
    font-size: 8rem;
    letter-spacing: 10rem;
    text-indent: 10rem;
  }

  header .text {
    width: 45rem;
    font-size: 2rem;
  }

  .social-media-wrapper {
    right: -8%;
  }

  .content-title {
    font-size: 3.5rem;
  }

  .content-text {
    font-size: 1.5rem;
  }
}

@media (max-width: 1100px) {
  .heading-1 {
    letter-spacing: 16rem;
    text-indent: 16rem;
  }

  .heading-2 {
    letter-spacing: 8rem;
    text-indent: 8rem;
  }

  header .text {
    width: 42rem;
    font-size: 1.7rem;
  }

  .apod-section .img-wrapper {
    max-width: 40rem;
  }

  .content-text {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 850px) {
  .heading-1 {
    letter-spacing: 12rem;
    text-indent: 12rem;
  }

  .heading-2 {
    letter-spacing: 6rem;
    text-indent: 6rem;
  }

  .apod-section .main {
    justify-content: space-between;
  }

  .apod-section .date {
    padding: 2rem 0;
  }

  .apod-section .result {
    margin: 1.5rem 0;
  }

  .apod-section .result p {
    font-size: 1.2rem;
    padding: 0.8rem;
  }

  .result i {
    font-size: 1.4rem;
    margin-right: 1.2rem;
  }

  .apod-section .wrapper {
    flex-direction: column;
    padding: 2rem 0;
  }

  .apod-section .img-wrapper {
    margin-right: 0;
    max-width: 28rem;
    margin-top: 12rem;
    margin-bottom: 2rem;
  }

  .apod-section .content-wrapper {
    width: 100%;
  }

  .content-title {
    font-size: 2.8rem;
    margin-bottom: 0;
  }

  .to-top {
    width: 4rem;
    height: 4rem;
  }

  .to-top i {
    font-size: 2rem;
  }
}

@media (max-width: 700px) {
  .nav {
    height: 8rem;
  }

  .logo {
    width: 12rem;
  }

  .change .nav-btn {
    transform: translateX(-20rem);
  }

  .menu-link {
    font-size: 2.8rem;
  }

  .heading-1 {
    font-size: 4rem;
    letter-spacing: 10rem;
    text-indent: 10rem;
  }

  .heading-2 {
    font-size: 6rem;
    letter-spacing: 5rem;
    text-indent: 5rem;
  }

  header .text {
    width: 32rem;
    font-size: 1.4rem;
    letter-spacing: 0.7rem;
  }

  .social-media-wrapper .link {
    width: 2.5rem;
    height: 2.5rem;
  }

  .social-media-wrapper i {
    font-size: 1.2rem;
  }

  .nasa-link {
    width: 4rem;
  }

  .social-media {
    bottom: 10rem;
  }

  .social-media i {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2rem;
  }

  .section-wrapper {
    height: calc(100% - 8rem);
  }

  .apod-section .img-wrapper {
    margin-top: 24rem;
  }

  .go-btn {
    width: 4rem;
    height: 7rem;
  }

  .go-btn i {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .logo {
    transition: all 0.8s;
  }

  .change .logo {
    opacity: 0;
    visibility: hidden;
  }

  .sidebar {
    width: 100%;
    right: -100%;
    z-index: 9;
  }

  .menu-item {
    margin: 5rem 0;
  }

  .change .nav-btn {
    transform: translateX(-40rem);
  }

  .heading-1 {
    top: 46%;
    font-size: 3rem;
    letter-spacing: 8rem;
    text-indent: 8rem;
  }

  .heading-2 {
    bottom: 40%;
    font-size: 4rem;
    letter-spacing: 4rem;
    text-indent: 4rem;
  }

  header .text {
    width: 34rem;
    font-size: 1.6rem;
  }

  .section-wrapper {
    width: calc(100% - 10%);
  }

  .apod-section .main {
    justify-content: center;
    padding-top: 5rem;
  }

  .apod-section .img-wrapper {
    margin-top: 0;
  }

  .apod-section .result {
    margin: 2rem 0;
  }

  .content-title {
    font-size: 2.5rem;
    margin: 1rem;
  }

  .content-text {
    font-size: 1.5rem;
    width: 100%;
    margin: 0;
    padding: 0 0.5rem;
  }

  .to-top {
    width: 3rem;
    height: 3rem;
    bottom: 1rem;
    right: 1rem;
  }

  .to-top i {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  .change .nav-btn {
    transform: translateX(-35rem);
  }

  .social-media-wrapper {
    display: none;
  }

  .social-media {
    bottom: 20rem;
  }
}
/* End of Responsives */
